[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/autoload/vim-plug"]
	path = vim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
